<a href="https://colab.research.google.com/github/JuanMiguez/4tocfp10/blob/main/8_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Una lista es una secuencia

Así como una cadena, una lista es una secuencia de valores. En una cadena, los
valores son caracteres; en una lista, pueden ser cualquier tipo. Los valores en una
lista son llamados elementos o a veces ítems.

Hay varias formas de crear una nueva lista; la más simple es encerrar los elementos
en corchetes (“[" y “]”):

> [10, 20, 30, 40]

> ['rana crujiente', 'vejiga de carnero', 'vómito de alondra']

El primer ejemplo es una lista de 4 enteros. La segunda es una lista de tres cadenas.
Los elementos de una lista no tienen que ser del mismo tipo. La siguiente lista
contiene una cadena, un flotante, un entero, y (¡mira!) otra lista:

> ['spam', 2.0, 5, [10, 20]]

Una lista dentro de otra lista está anidada.

Una lista que no contiene elementos es llamada una lista vacía; puedes crear una
con corchetes vacíos, [].

Como puedes ver, puedes asignar los valores de una lista a variables:

In [1]:
quesos = ['Cheddar', 'Edam', 'Gouda']
numeros = [17, 123]
vacia = []
print(quesos, numeros, vacia)

['Cheddar', 'Edam', 'Gouda'] [17, 123] []

##Las listas son mutables

La sintaxis para accesar elementos de una lista es la misma que para accesar
los caracteres de una cadena: el operador corchete. La expresión dentro de los
corchetes especifíca el índice. Recordemos que los índices empiezan en 0:

In [2]:
print(quesos[0])

Cheddar

A diferencia de las cadenas, las listas son mutables porque pueden cambiar el
orden de los elementos en una lista o reasignar un elemento en una lista. Cuando
el operador corchete aparece en el lado izquierdo de una asignación, éste identifica
el elemento de la lista que será asignado.

In [3]:
numeros = [17, 123]
numeros[1] = 5
print(numeros)

[17, 5]

El elemento en la posición uno de numeros, el cual solía ser 123, es ahora 5.

Puedes pensar en una lista como una relación entre índices y elementos. Esta
relación es llamada mapeo; cada índice “mapea a” uno de los elementos.

Los índices en una lista funcionan de la misma manera que los índices de una
cadena:


*   Cualquier forma de entero puede ser utilizada como índice.
*   Si tratas de leer o escribir un elemento que no existe, obtendrás un
IndexError.
*   Si un índice tiene un valor negativo, éste cuenta hacia atrás desde el final de
la lista.

El operador in funciona también en listas.

In [5]:
quesos = ['Cheddar', 'Edam', 'Gouda']
'Edam' in quesos

True

In [6]:
'Brie' in quesos

False

##Recorriendo una lista

La forma más común de recorrer los elementos de una lista es con un bucle for.
La sintaxis es la misma que para las cadenas:

In [7]:
for queso in quesos:
  print(queso)

Cheddar
Edam
Gouda

Esto funciona bien si solamente necesitas leer los elementos de la lista. Pero si
quieres escribir o actualizar los elementos, necesitas los índices. Una forma común
de hacer eso es combinando las funciones range y len:

In [8]:
for i in range(len(numeros)):
  numeros[i] = numeros[i] * 2

Este bucle recorre la lista y actualiza cada elemento. len regresa el número de
elementos en una lista. range regresa una lista de índices desde 0 hasta n − 1,
donde n es la longitud de la lista. Cada vez que pasa a través del recorrido, i
obtiene el índice del siguiente elemento. La sentencia de asignación dentro del
bucle utiliza i para leer el valor original del elemento y asignar un nuevo valor.

Un bucle for a través de una lista vacía nunca ejecuta el código contenido en el
cuerpo:

In [9]:
for x in vacia:
  print('Esto nunca sucede.')

Aunque una lista puede contener otra lista, las listas anidadas siguen contando
como un solo elemento. El tamaño de esta lista es cuatro:
> ['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]

##Operaciones de listas

El operador + concatena listas:

In [10]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

De igual forma, el operador * repite una lista un determinado número de veces:

In [11]:
[0] * 4

[0, 0, 0, 0]

In [12]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

En el primer ejemplo se repite cuatro veces. En el segundo ejemplo se repite la
lista tres veces.

##Rebanado de listas

El operador de rebanado también funciona en listas:

In [13]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3]

['b', 'c']

In [14]:
t[:4]

['a', 'b', 'c', 'd']

In [15]:
t[3:]

['d', 'e', 'f']

Si omites el primer índice, el rebanado comienza desde el inicio de la lista. Si
omites el segundo, el rebanado se va hasta el final. Así que si omites ambos, el
rebanado es una copia de la lista completa.

In [16]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

Como las listas son mutables, a veces es útil hacer una copia antes de hacer operaciones
que doblan, pegan, o cortan listas.

Un operador de rebanado al lado izquierdo de una asignación puede actualizar
múltiples elementos:

In [18]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] = ['x', 'y']
print(t)

['a', 'x', 'y', 'd', 'e', 'f']

##Métodos de listas

Python provee métodos que operan en listas. Por ejemplo, append agrega un nuevo
elemento al final de una lista:

In [19]:
t = ['a', 'b', 'c']
t.append('d')
print(t)

['a', 'b', 'c', 'd']

extend toma una lista como argumento y agrega todos los elementos:

In [20]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print(t1)

['a', 'b', 'c', 'd', 'e']

Este ejemplo deja t2 sin modificar.
sort ordena los elementos de la lista de menor a mayor:Este ejemplo deja t2 sin modificar.
sort ordena los elementos de la lista de menor a mayor:

In [21]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
print(t)

['a', 'b', 'c', 'd', 'e']

La mayoría de métodos no regresan nada; modifican la lista y regresan None. Si
accidentalmentes escribes t = t.sort(), vas a decepcionarte con el resultado.

##Eliminando elementos

Hay varias formas de eliminar elementos de una lista. Si sabes el índice del elemento
que quieres, puedes usar pop:

In [22]:
t = ['a', 'b', 'c']
x = t.pop(1)
print(t)

['a', 'c']

In [23]:
print(x)

b

pop modifica la lista y regresa el elemento que fue removido. Si no provees un
índice, la función elimina y retorna el último elemento.

Si no necesitas el valor removido, puedes usar el operador del:

In [24]:
t = ['a', 'b', 'c']
del t[1]
print(t)

['a', 'c']

Si sabes qué elemento quieres remover (pero no sabes el índice), puedes usar
remove:

In [25]:
t = ['a', 'b', 'c']
t.remove('b')
print(t)

['a', 'c']

El valor de retorno de remove es None.

Para remover más de un elemento, puedes usar del con un índice de rebanado:

In [26]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
print(t)

['a', 'f']

Como siempre, el rebanado selecciona todos los elementos hasta, pero excluyendo,
el segundo índice.

##Listas y funciones

Hay un cierto número funciones internas que pueden ser utilizadas en las listas que
te permiten mirar rápidamente a través de una lista sin escribir tus propios bucles:

In [27]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))

6

In [28]:
print(max(nums))

74

In [29]:
print(min(nums))

3

In [30]:
print(sum(nums))

154

In [31]:
print(sum(nums)/len(nums))

25.666666666666668

La función sum() solamente funciona cuando los elementos de la lista son números.
Las otras funciones (max(), len(), etc.) funcionan con listas de cadenas y otros
tipos que pueden ser comparados entre sí.

Podríamos reescribir un programa anterior que calculaba el promedio de una lista
de números ingresados por el usuario utilizando una lista.

Primero, el programa para calcular un promedio sin una lista:

In [32]:
total = 0
contador = 0
while (True):
  inp = input('Ingresa un número: ')
  if inp == 'fin': break
  valor = float(inp)
  total = total + valor
  contador = contador + 1
promedio = total / contador
print('Promedio:', promedio)

Ingresa un número: 23
Ingresa un número: 45
Ingresa un número: fin
Promedio: 34.0

En este programa, tenemos las variables contador y total para almacenar la
cantidad y el total actual de los números del usuario según el usuario va ingresando
los números repetidamente.

Podríamos simplemente recordar cada número como el número lo ingresó, y utilizar
funciones internas para calcular la suma y el total de números al final.

In [33]:
numlista = list()
while (True):
  inp = input('Ingresa un número: ')
  if inp == 'fin': break
  valor = float(inp)
  numlista.append(valor)
promedio = sum(numlista) / len(numlista)
print('Promedio:', promedio)

Ingresa un número: 34
Ingresa un número: 36
Ingresa un número: fin
Promedio: 35.0

Creamos una lista vacía antes de que comience el bucle, y luego cada vez que
tengamos un número, lo agregamos a la lista. Al final del programa, simplemente
calculamos la suma de los números en la lista y la dividimos por el total de números
en la lista para obtener el promedio.

##Listas y cadenas

Una cadena es una secuencia de caracteres y una lista es una secuencia de valores,
pero una lista de caracteres no es lo mismo que una cadena. Para convertir una
cadena en una lista de caracteres, puedes usar list:

In [35]:
s = 'spam'
t = list(s)
print(t)

['s', 'p', 'a', 'm']

Debido a que list es el nombre de una función interna, debes evitar usarla como
un nombre de variable. Yo trato de evitar también la letra “l” porque se parece
mucho al número “1”. Así que por eso utilizo “t”.

La función list divide una cadena en letras individuales. Si quieres dividir una
cadena en palabras, puedes utilizar el método split:

In [36]:
s = 'suspirando por los fiordos'
t = s.split()
print(t)

['suspirando', 'por', 'los', 'fiordos']

In [37]:
print(t[2])

los

Una vez que hayas utilizado split para dividir una cadena en una lista de palabras,
puedes utilizar el operador índice (corchetes) para ver una palabra en particular
en la lista.

Puedes llamar split con un argumento opcional llamado delimitador que especifica
qué caracteres usar para delimitar las palabras. El siguiente ejemplo utiliza un
guión medio como delimitador:

In [38]:
s = 'spam-spam-spam'
delimiter = '-'
s.split(delimiter)

['spam', 'spam', 'spam']

join es el inverso de split. Este toma una lista de cadenas y concatena los
elementos. join es un método de cadenas, así que tienes que invocarlo en el
delimitador y pasar la lista como un parámetro:

In [39]:
t = ['suspirando', 'por', 'los', 'fiordos']
delimiter = ' '
delimiter.join(t)

'suspirando por los fiordos'

En este caso el delimitador es un caracter de espacio, así que join agrega un
espacio entre las palabras. Para concatenar cadenas sin espacios, puedes usar la
cadena vacía, “”, como delimitador.

##Analizando líneas

Normalmente cuando estamos leyendo un archivo queremos hacer algo con las
líneas que no sea solamente imprimir las líneas como son. Frecuentemente queremos
encontrar las “líneas interesantes” y después analizar la línea para encontrar
alguna “parte interesante” en la línea. ¿Qué tal si quisiéramos imprimir el día de
la semana de las líneas que comienzan con “From”?

> From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008

El método split es muy efectivo cuando nos encontramos este tipo de problemas.
Podemos escribir un pequeño programa que busca líneas donde la línea comienza
con “From”, split (dividir) esas líneas, y finalmente imprimir la tercer palabra de
la línea:

In [40]:
man_a = open('/content/drive/MyDrive/cfp-4to/mbox-short.txt')
for linea in man_a:
  linea = linea.rstrip()
  if not linea.startswith('From '): continue
  palabras = linea.split()
  print(palabras[2])

Sat
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Thu
Thu
Thu
Thu
Thu
Thu

Más tarde, aprenderemos técnicas muy sofisticadas para obtener las líneas que
queremos para trajar sobre ellas y cómo sacar el fragmento exacto de información
que estamos buscando.

## Objetos y valores

Si ejecutamos las siguientes sentencias de asignación:

>a = 'banana'

>b = 'banana'

sabemos que ambos a y b se refieren a una cadena, pero no sabemos si se refieren
o apuntan a la misma cadena. Hay dos estados posibles:

![image.png]()

Por un lado, a y b se refieren a dos objetos diferentes que tienen el mismo valor.
Por otro lado, apuntan al mismo objeto.

Para revisar si dos variables apuntan al mismo objeto, puedes utilizar el operador
is.

In [41]:
a = 'banana'
b = 'banana'
a is b

True

En este ejemplo, Python solamente creó un objeto de cadena, y ambos a y b
apuntan a él.

Pero cuando creas dos listas, obtienes dos objetos diferentes:

In [42]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

En este caso podríamos decir que las dos listas son equivalentes, porque tienen
los mismos elementos, pero no idénticas, porque no son el mismo objeto. Si dos
objetos son idénticos, son también equivalentes, pero si son equivalentes, no son
necesariamente idénticos.

Hasta ahora, hemos estado usando “objeto” y “valor” de forma intercambiable,
pero es más preciso decir que un objeto tiene un valor. Si ejecutas a = [1,2,3], a
se refiere a una lista de objetos cuyo valor es una secuencia particular de elementos.
Si otra lista tiene los mismos elementos, diríamos que tiene el mismo valor.

##Alias

Si a se refiere a un objecto y tu asignasb = a, entonces ambas variables se refieren
al mismo objeto:

In [43]:
a = [1, 2, 3]
b = a
b is a

True

La asociación de una variable a un objeto es llamada una referencia. En este
ejemplo, hay dos referencias al mismo objeto.

Un objeto con más de una referencia tiene más de un nombre, así que decimos que
el objeto es un alias.

Si el alias del objeto es mutable, los cambios hechos a un alias afectan al otro:

In [44]:
b[0] = 17
print(a)

[17, 2, 3]